<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Книги в наличии</title>
</head>
<body>
    <h1>Добавить книгу</h1>
    <form method="post" action="/books">
        <label>Автор:
            <input name="book_author" placeholder="Автор">
        </label>
        <label>Название:
            <input name="book_name" placeholder="Название">
        </label>
        <label>Жанр:
            <input name="genre" placeholder="Жанр">
        </label>
        <input type="submit" value="Добавить">
    </form>
    <br>
    <br>
    <table border="1" width="90%">
    <tr>
        <th>ID</th>
        <th>Автор</th>
        <th>Название</th>
        <th>Жанр</th>
        <th>Стоимость</th>
        <th>В наличии</th>
        <th></th>
        <th></th>
    </tr>
    <#list books as book>
        <tr>
            <td align="center">${book.id}</td>
            <td align="center">${book.book_author}</td>
            <td align="center">${book.book_name}</td>
            <td align="center">${book.genre}</td>
            <td align="center">${book.cost}</td>
            <td align="center">${book.books_count}</td>
            <td align="center"><a href="/books/${book.id}">Перейти</a></td>
            <td align="center">
                <form method="post" action="/books/${book.id}/delete">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </#list>
</table>
    <br>
<h2><a href="clients">Список клиентов</a></h2>
<h2><a href="/books/booking_page">Создать заказ</a></h2>
</body>
</html>