<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заказы по клиентам</title>
</head>
<body>
<h2>Клиент - ${client.name}</h2>
<table border="1">
    <tr>
        <th>ID заказа</th>
        <th>Название</th>
        <th>Дата заказа</th>
        <th>Количество</th>
    </tr>
    <#list bookings as booking>
        <tr>
            <td>${booking.id}</td>
            <td>${booking.owner.book_name}</td>
            <td>${booking.booking_date}</td>
            <td>${booking.booking_count}</td>
        </tr>
    </#list>
</table>

</body>
</html>