<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Клиенты</title>
</head>
<body>
<h1>Список клиентов</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя Фамилия</th>
        <th></th>
        <th></th>
    </tr>
    <#list clients as client>
        <tr>
            <td align="center">${client.id}</td>
            <td align="center">${client.name}</td>
            <td align="center"><a href="/clients/${client.id}/bookings">Заказы</a></td>
            <td align="center">
                <form method="post" action="/clients/${client.id}/delete">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </#list>
</table>
<h2>Добавить Клиента</h2>
<form method="post" action="/clients">
    <label>
        <input name="name" placeholder="Имя Фамилия">
    </label>
    <input type="submit" value="Добавить">
</form>
</body>
</html>